@{
    ViewData["Title"] = "YakBak";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YakBak!!</h1>
    <p>Your ideal place to chat with like-minded individuals</p>


    <p>You can join clans based on your interests where you will meet a plethora of other users who share the same interest as you</p>
    <p>Can't find what you LOVE, Don't worry you also have the option to create a CLAN!!!</p>
</div>
